@using LibrarySystem_VA.Web.Models.Students;
@model StudentListViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Students/Index.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="font-family:Helvetica, sans-serif"><b>@L("Students")</b></h1>
            </div>
            <div class="col-sm-6">
                <a style="border-radius:15px; border-color:#027BCE; background:#027BCE; color:#fff; font-size:16px; font-weight:500; text-transform:uppercase"
                   class="btn float-sm-right" asp-controller="Students" asp-action="CreateOrEdit">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    
                    @*Search*@
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <form name="searchStudentForm" class="form-horizontal" asp-controller="Students" asp-action="Index" method="get">
                                    <div class="input-group">
                                        <input type="text" class="form-control txt-search" name="searchStudent" placeholder="Search" />
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary btn-search search-button" type="submit" style="color:#fff; border-color:#061826; background:#061826">
                                                    <i class="fa fa-search"></i>
                                                </button>   
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    @*Table*@
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="StudentTable" class="table table-bordered table-hover" style="font-size:0.9em; font-family:Helvetica, sans-serif;">
                                <thead style="background-color:#E7ECEF">
                                        <tr>
                                            <th style="width: 50px; border:1px solid #252627; text-align:center">@L("StudentID")</th>
                                            <th style="width: 170px; border:1px solid #252627; text-align:center">@L("StudentName")</th>
                                            <th style="width: 140px; border:1px solid #252627; text-align:center">@L("StudentContactNumber")</th>
                                            <th style="width: 150px; border:1px solid #252627; text-align:center">@L("StudentEmail")</th>
                                            <th style="width: 150px; border:1px solid #252627; text-align:center">@L("DeptName")</th>
                                            <th style="width: 115px; border:1px solid #252627; text-align:center">@L("Actions")</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    @foreach (var student in Model.Students)
                                    {
                                        <tr>
                                            <td style="border:1px solid #252627; text-align:center">@student?.Id</td>
                                            <td style="border:1px solid #252627">@student?.StudentName</td>
                                            <td style="border:1px solid #252627">@student?.StudentContactNumber</td>
                                            <td style="border:1px solid #252627">@student?.StudentEmail</td>
                                            <td style="border:1px solid #252627">@student.Department?.Name</td>
                                            <td style="border:1px solid #252627">
                                                <button type="button" class="btn btn-sm edit-student" data-student-id="@student?.Id"
                                                        style="border-radius:10px; border-color:#3E6680; background:#3E6680; color:#fff;">
                                                    <i class="fas fa-pencil-alt"></i> Edit
                                                </button>

                                                <button type="button" class="btn btn-sm delete-student" data-student-id="@student?.Id" data-student-name="@student.StudentName"
                                                        style="border-radius:10px; border-color:#D16666; background:#D16666; color:#fff;">
                                                    <i class="fas fa-trash"></i> Delete
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

