@using LibrarySystem_VA.Web.Models.Books;
@model CreateOrEditBookViewModel

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Books/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="font-family:Helvetica, sans-serif"><b>@L("AddNewBooks")</b></h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto col-10 col-md-8 col-lg-6">
                <div class="card">
                     <div class="card-body">
                        <form name="BookForm" role="form" class="form-horizontal">
                            <input type="hidden" name="Id" value="@Model?.Id"/>
                            
                                    @*Book Title*@
                                    <div class="form-row">
                                        <div class="form-group col-12">                                    
                                            <label for="bookTitle">Book Title</label>
                                            <input type="text" class="form-control" id="bookTitle" name="BookTitle" value="@Model?.BookTitle" placeholder="Book Title"
                                                   style="border-radius:5px; font-size:16px;">
                                        </div>
                                    </div>

                                    @*Book Publisher*@
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="bookPublisher">Book Publisher</label>
                                            <input type="text" class="form-control" id="bookPublisher" name="BookPublisher" value="@Model?.BookPublisher" placeholder="Book Publisher"
                                                   style="border-radius:5px; font-size:16px;">
                                        </div>
                                    </div>

                                    @*Book Author*@
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="BookAuthorList">Book Author List</label>
                                            @Html.DropDownListFor(x => x.AuthorId,
                                                Model.AuthorList.Select(d => new SelectListItem {
                                                                        Value = d.Id.ToString(),
                                                                        Text = d.Name}), "Select Book Authors", new { @class = "form-control"})
                                        </div>
                                    </div>

                                    @*Book Category List*@
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="BookCategoryList">Book Category List</label>
                                            @Html.DropDownListFor(x => x.BookCategoryId,
                                                Model.BookCategoryList.Select(d => new SelectListItem {
                                                                              Value = d.Id.ToString(),
                                                                              Text = d.Name}), "Select Book Category", new { @class = "form-control" })
                                        </div>
                                    </div>

                            @*Save/Cancel Buttons*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button type="button" class="btn btn-default cancel-button"
                                            style="border-radius:15px; border-color:#545454; background:#545454; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase"> @L("Cancel") </button>
                                    <button type="submit" class="btn btn-primary save-button"
                                            style="border-radius:15px; border-color:#0F7173; background:#0F7173; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase"> @L("Save") </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>