@using LibrarySystem_VA.Web.Models.Books;
@model BookListViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Books/Index.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="font-family:Helvetica, sans-serif"><b>@L("Books")</b></h1>
            </div>
            <div class="col-sm-6">
                <a class="btn bg-blue float-sm-right" asp-controller="Books" asp-action="CreateOrEdit"
                   style="border-radius:15px; border-color:#027BCE; background:#027BCE; color:#fff; font-size:16px; font-weight:500; text-transform:uppercase">
                    <i class="fa fa-plus-square"></i> @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    @*Search*@
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <form name="searchBookForm" class="form-horizontal" asp-controller="Books" asp-action="Index" method="get">
                                    <div class="input-group">
                                        <input class="form-control txt-search" type="text" name="searchBooks" placeholder="Search" />
                                        <div class="input-group-append">                                                
                                            <button type="submit" class="btn btn-secondary btn-search search-button" style="color:#fff; border-color:#061826; background:#061826">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>                                            
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    @*Table*@
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="BooksTable" class="table table-bordered table-hover" style="font-size:0.9em; font-family:Helvetica, sans-serif;">
                                <thead style="background-color:#E7ECEF">
                                        <tr>
                                            <th style="border:1px solid #252627; text-align:center">@L("BookTitle")</th>
                                            <th style="border:1px solid #252627; text-align:center">@L("BookPublisher")</th>
                                            <th style="border:1px solid #252627; text-align:center">@L("BookAuthor")</th>
                                            <th style="border:1px solid #252627; text-align:center">@L("IsBorrowed")</th>
                                            <th style="border:1px solid #252627; text-align:center">@L("BookCategoryName")</th>
                                            <th style="width: 170px; border:1px solid #252627; text-align:center">@L("Actions")</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Book in Model.Books)
                                    {
                                        <tr>
                                            <td style="border:1px solid #252627">@Book?.BookTitle</td>
                                            <td style="border:1px solid #252627">@Book?.BookPublisher</td>
                                            <td style="border:1px solid #252627">@Book.Author?.Name</td>
                                            <td style="border:1px solid #252627; text-align:center">@Book?.IsBorrowed</td>
                                            <td style="border:1px solid #252627">@Book.BookCategory?.Name</td>
                                            <td style="border:1px solid #252627">
                                                <button type="button" class="btn btn-sm edit-book" data-book-id="@Book.Id"
                                                        style="border-radius:10px; border-color:#3E6680; background:#3E6680; color:#fff;">
                                                    <i class="fas fa-pencil-alt"></i> Edit
                                                </button>

                                                <button type="button" class="btn btn-sm delete-book" data-book-id="@Book.Id" data-book-title="@Book.BookTitle"
                                                        style="border-radius:10px; border-color:#D16666; background:#D16666; color:#fff;">
                                                    <i class="fas fa-trash"></i> Delete
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
