@using LibrarySystem_VA.Web.Models.Borrowers;
@model CreateOrEditBorrowerViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Borrowers/Create.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("NewBorrowerForm")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">                    
                    <div class="card-body">

                        <form class="form-horizontal" name="BorrowerForm" role="form">
                            <input type="hidden" name="Id" value="@Model?.Id" />

                            @*Borrow Date*@
                            <div class="form-row">                                
                                 <div class="form-group col-md-6">
                                    <label for="BorrowDate">Borrow Date</label>
                                    <input type="date" class="form-control" id="DateBorrow" placeholder="Pick a Date" />
                                 </div>
                            </div>

                            @*Expected Return Date*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="ExpectedReturnDate">Expected Return Date</label>
                                    <input type="date" class="form-control" id="ExpectedDate" placeholder="Pick a Date" />
                                </div>
                            </div>
                                                        
                            @*Book List*@
                           <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="BookTitle">Book Title</label>
                                        @Html.DropDownListFor(
                                        x => x.BookId,
                                        Model.BookList.Select(
                                        d => new SelectListItem {
                                        Value = d.Id.ToString(),
                                        Text = d.BookTitle
                                        }), "Select Book", new { @class = "form-control" })
                                </div>
                            </div>

                            @*Student List*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="StudentName">Student Name</label>
                                        @Html.DropDownListFor(
                                        x => x.StudentId,
                                        Model.StudentList.Select(
                                        d => new SelectListItem {
                                        Value = d.Id.ToString(),
                                        Text = d.StudentName
                                        }), "Select Student", new { @class = "form-control" })
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @*Cancel Button*@
                                    <button style="border-radius:40px; border-color:#526D82; background:#526D82; color:#fff; font-size:16px;
                                                   font-weight:500; text-transform: uppercase"
                                            type="button" class="btn btn-round cancel-button"> @L("Cancel")
                                    </button>

                                    @*Save Button*@
                                    <button style="border-radius:40px; border-color:#939B62; background:#939B62; color:#fff; font-size:16px;
                                                   font-weight:500; text-transform: uppercase"
                                            type="submit" class="btn rounded-pill save-button"> @L("Save")
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
