@using LibrarySystem_VA.Web.Models.Borrowers;
@model CreateOrEditBorrowerViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Borrowers/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="font-family:Helvetica, sans-serif"><b>@L("NewBorrowerForm")</b></h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto col-10 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form name="BorrowerForm" role="form" class="form-center">
                            <input type="hidden" name="Id" value="@Model?.Id" />

                            @*Borrow Date*@
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="BorrowDate">Borrow Date</label>
                                    <input class="form-control" type="date" id="BorrowDate" name="BorrowDate" value="@Model?.BorrowDate.ToString("yyyy-MM-dd")" placeholder="Borrow Date"
                                           style="border-radius:5px; font-size:16px;">
                                </div>
                            </div>

                            @*Expected Return Date*@
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="ExpectedReturnDate">Expected Return Date</label>
                                    <input class="form-control" type="date" id="ExpectedReturnDate" name="ExpectedReturnDate" value="@Model?.ExpectedReturnDate.ToString("yyyy-MM-dd")" placeholder="Expected Return Date"
                                           style="border-radius:5px; font-size:16px;">
                                </div>
                            </div>

                            @*Return Date*@
                            <div class="form-row" name="hidden-panel" id="hidden-panel" style="display:none">
                                <div class="form-group col-12">
                                    <label for="ReturnDate">Return Date</label>
                                    <input class="form-control" type="date" id="ReturnDate" name="ReturnDate" value="@Model?.ReturnDate" placeholder="Return Date"
                                           style="border-radius:5px; font-size:16px;">
                                </div>
                            </div>

                            @*Book Title*@
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="BookList">Book List</label>
                                    @Html.DropDownListFor(x => x.BookId,
                                        Model.BookList.Select(d => new SelectListItem {
                                                      Value = d.Id.ToString(),
                                                       Text = d.BookTitle}), "Select Books", new { @class = "form-control" })
                                </div>
                            </div>

                            @*Student Name*@
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="StudentList">Student List</label>
                                    @Html.DropDownListFor(x => x.StudentId,
                                    Model.StudentList.Select(d => new SelectListItem {
                                    Value = d.Id.ToString(),
                                    Text = d.StudentName}), "Select Student", new { @class = "form-control" })
                                </div>
                            </div>

                            @*Save/Cancel Buttons*@
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <button type="button" class="btn btn-default cancel-button"
                                            style="border-radius:15px; border-color:#545454; background:#545454; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary save-button"
                                            style="border-radius:15px; border-color:#0F7173; background:#0F7173; color:#fff; font-size:16px; font-weight:500; text-transform: uppercase">@L("Save")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>