@using LibrarySystem_VA.Web.Models.Borrowers;
@model BorrowerListViewModel

@*@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/__/__" asp-append-version="true"></script>
    </environment>
}*@

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Borrowers")</h1>
            </div>
            <div class="col-sm-6">
                <a class="btn bg-blue float-sm-right" asp-controller="Borrowers" asp-action="Create">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="abp-advanced-search">
                                    <form name="searchBorrowerForm" class="form-horizontal" asp-controller="Borrowers" asp-action="Index" method="get">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button type="submit" class="btn bg-blue btn-search search-button">
                                                    <span class="fas fa-search" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <input class="form-control txt-search" type="text" name="Keyword" placeholder="Search" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Table*@
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="BorrowerTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>@L("BorrowDate")</th>
                                        <th>@L("ExpectedReturnDate")</th>
                                        <th>@L("ReturnDate")</th>
                                        <th>@L("BookTitle")</th>
                                        <th>@L("StudentName")</th>
                                        <th style="width: 180px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var borrower in Model.Borrowers)
                                    {
                                        <tr>
                                            <td>@borrower?.BorrowDate.ToString("MM/dd/yyyy")</td>
                                            <td>@borrower?.ExpectedReturnDate.ToString("MM/dd/yyyy")</td>
                                            <td>@borrower?.ReturnDate.ToString("MM/dd/yyyy")</td>
                                            <td>@borrower.Book?.BookTitle</td>
                                            <td>@borrower.Student?.StudentName</td>
                                            <td>
                                                <button style="border-color:#6C9BCF; background:#6C9BCF; color:#fff; font-size:14px;
                                                               font-weight:500; text-transform: uppercase"
                                                        type="button" class="btn btn-sm edit-dept" data-dept-id="@borrower?.Id">
                                                <i class="fas fa-pencil-alt"></i> Edit
                                                </button>

                                                <button style="border-color:#DD5353; background:#DD5353; color:#fff; font-size:14px;
                                                               font-weight:500; text-transform: uppercase"
                                                        type="button" class="btn btn-sm delete-dept" data-dept-id="@borrower?.Id" data-dept-name="@borrower.Student?.StudentName">
                                                <i class="fas fa-trash"></i> Delete
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>